.tabletMenu {
    background: black;
    border-top: 3px solid white;
    color: white;
    position: absolute;
    top: 42px;
    left: 155px;
    display: flex;
    font-size: 14.5px;
    height: 174px;
    width: 750px;
    z-index: 20;
    margin-top: 16px;
    padding: 16px 16px 13px;
    li {
        white-space: nowrap;
    }
    ::after {
        content: '';
        position: absolute;
        top: -11px;
        left: 11px;
        width: 0;
        height: 0;
        border-left: 11px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 11px solid white;
    }
}

.accountMenu {
    width: 100px;
}

.genres {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
        display: block;
        width: 200px;
    }
}
