html {
    background: black;
    font-family: Halvetica Neue, Helvetica, Arial, sans-serif;
}

.bred {
    border: 1px solid red;
}

.bred2 {
    border: 1px solid blue;
}
.bred3 {
    border: 1px solid green;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}
