html {
    background: black;
    font-family: Halvetica Neue, Helvetica, Arial, sans-serif;
}

.bred {
    border: 1px solid red;
}

.bred2 {
    border: 1px solid blue;
}
.bred3 {
    border: 1px solid green;
}
