.mobileNavigation {
    top: 44px;
    @apply bg-dark-4 overflow-y-scroll fixed left-0  z-20 text-text-1 font-bold  leading-8 w-64;
    height: calc(100vh - 44px);
    > ol > li {
        @apply pl-4;
    }
}
.menuSettings {
    @apply pb-2 mb-2;
    border-bottom: 1px solid #333;
}

.genreList {
    @apply leading-loose;
}

.activeGenre {
    border-left: 3px solid #b9090b;
}
